# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Test/cache tooling
.pytest_cache/
.mypy_cache/

# OS/editor files
.DS_Store
.vscode/

8 - 27 - 08
circa
A Good Excuse For A Bomb
Circa 1989.logicx
*.zip
*.aff
*.aaf
